.container
    .jumbotron
        h1 MultiVision
        p Welcome to MultiVision! The most comprehensive and annoying collection of tech training videos available to mankind online.

    .row
        .col-md-6
            //server side route doesn't expect an extention, hence the featured-courses without .html or .jade
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")